<div *ngIf="this.loading" style="text-align: center; margin-top: 10%;">
  <img src="assets/loading1.gif">
</div>

<div *ngIf="!this.loading">
  <div style="float: left;">
    <h3>Test</h3>
  </div>

  <div style="float:right;text-align:right;margin-top:25px;">
    <button *ngIf="(EL[0].status === 'running')" mat-raised-button (click)="stopTest(this.getID())">
      <i class="material-icons">stop</i> Stop</button>

    <button *ngIf="(EL[0].status === 'created') || (EL[0].status === 'completed') || (EL[0].status === 'aborted')"
            mat-raised-button (click)="startTest(this.getID())"><i class="material-icons">play_arrow</i> Start</button>

    <button *ngIf="EL[0].status === 'starting'" mat-raised-button disabled>
      <i class="material-icons">timer</i> Starting</button>

    <button *ngIf="EL[0].status === 'aborting'" mat-raised-button disabled>
      <i class="material-icons">timer</i> Aborting</button>

    <button *ngIf="(EL[0].status === 'starting') || (EL[0].status === 'running') || (EL[0].status === 'aborting')"
            mat-raised-button (click)="deleteTest(this.getID())" disabled>
      <i class="material-icons">delete</i> Delete</button>

    <button *ngIf="(EL[0].status === 'created') || (EL[0].status === 'aborted') || (EL[0].status === 'completed')"
            mat-raised-button (click)="deleteTest(this.getID())">
      <i class="material-icons">delete</i> Delete</button>
  </div>

  <mat-divider style="margin-bottom: 10px; clear:right; clear:left;"></mat-divider>

  <div class="example-container">

    <mat-table #table [dataSource]="dataSource">

      <!-- URL Column -->
      <ng-container matColumnDef="url">
        <mat-header-cell *matHeaderCellDef> URL</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.url}}</mat-cell>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="created">
        <mat-header-cell *matHeaderCellDef> CREATED</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{created}}</mat-cell>
      </ng-container>

      <!-- Sessions Column -->
      <ng-container matColumnDef="sessions">
        <mat-header-cell *matHeaderCellDef> SESSIONS</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.sessions}}</mat-cell>
      </ng-container>

      <!-- Time Column -->
      <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef> TIME</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.duration + " minutes"}}</mat-cell>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="stress_mode">
        <mat-header-cell *matHeaderCellDef> TYPE</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.stress_mode ? "Stress" : "Gradual"}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

  <h3>Statistics</h3>
  <mat-divider style="margin-bottom: 10px;"></mat-divider>
</div>

<div class="example-container">
  <div>
    <canvas id="canvas">{{ chart }}</canvas>
  </div>
</div>
