/* Structure */
.example-container {
  display: block;
  flex-direction: column;
  min-width: 300px;
}
.example-container > * {
  width: 100%;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {

  overflow: auto;
  max-height: 500px;
}
.mat-column-url{
}
.mat-column-created
{
  max-width: 150px;
}
.mat-column-sessions{
  max-width: 74px;
}

.mat-column-duration
{
  max-width: 80px;
}
.mat-column-stress_mode {
  max-width: 100px;
}

label{
  font-size: 20px !important;
  color: black !important;
}

h3{
  margin-bottom:20px !important;
}
