.spacer {
  flex: 1 1 auto;
}

.header {
  background-color: rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid #707070;
  height: 50px !important;
  font-size: 15px !important;
  color: white;
  z-index: 999999;
}

.container-1 {
  position: fixed !important;
  top: 63px !important;
  left: 0 !important;
  background: #ffffff !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 1 !important;
}

.container-2 {
  margin-right: 20px !important;
  margin-left: 20px !important;
  min-width: 370px !important;
  margin-bottom: 80px !important;
  background: white;

}

#image-header {
  background-image: url(https://image.ibb.co/nBMy2d/favicon-32x32.png);
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-top: -5px;
}

.side-nav-container-1 {
  width: 350px;
  background: #e9e9e9;
  color: black !important;
}

.all-tests {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif !important;
}

.mat-row {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.mat-table {
  margin-top: -20px;
  overflow: auto;
  /*max-height: 500px;*/
  background: #e9e9e9;
  margin-bottom:63px !important;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-column-url {

}

.filter {
  padding: 0px 5px 0px 5px;
  margin-bottom: -10px;
  margin-top: -10px;
}

.add-button {
  margin-left: 220px;
}

i.material-icons {
  /*margin-top:30px !important;*/
}

.wrapper {
  display: table;
}

.cell {
  display: table-cell;
  vertical-align: middle;
}

.elem-active {
  background-color: #d9d9d9 !important;
}

/*a:active {*/
/*background-color: blue !important;*/
/*color: #f00 !important; !* Цвет активной ссылки *!*/
/*}*/

