<div>
<mat-toolbar class="header">
  <mat-toolbar-row>
    <span>
      <a routerLink="/"><div id="image-header"></div></a>
      <button type="button" mat-button (click)="side_nav.toggle()">HardTester</button>
    </span>

    <span class="spacer"></span>
    <button mat-button routerLink="profile"><i class="material-icons">portrait</i> My Profile</button>
    <button mat-button (click)="logout()"><i class="material-icons">input</i> Sign Out</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="container-1">
  <mat-sidenav mode="side" #side_nav class="side-nav-container-1" opened>

    <span class="all-tests" >ALL TESTS</span>
    <button mat-icon-button class="add-button" routerLink="createtest">
      <i class="material-icons"> add_circle_outline </i>
    </button>

    <div class="filter">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </div>

    <mat-table #table [dataSource]="dataSource">
      <!-- URL Column -->
      <ng-container matColumnDef="url" >
        <mat-header-cell *matHeaderCellDef> URL </mat-header-cell>
        <mat-cell *matCellDef="let tests">
          <a style="color: black;" routerLink="/home/test/{{tests.id}}">
            <!--icon for created test-->
            <i *ngIf="tests.status === 'created'" class="material-icons">
              adjust
            </i>
            <!--icon for running/starting test-->
            <i *ngIf="(tests.status === 'starting') || (tests.status === 'running')" class="material-icons">
              play_circle_outline
            </i>
            <!--icon for completed test-->
            <i *ngIf="(tests.status === 'completed')"
               class="material-icons">
              check_circle_outline
            </i>
            <!--icon for aborting/aborted test-->
            <i *ngIf="(tests.status === 'aborting') || (tests.status === 'aborted')"
               class="material-icons">
              pause_circle_outline
            </i>
            <!--URL of tested site-->
            <div class="cell">
              {{tests.url }}
            </div>
          </a>
        </mat-cell>
      </ng-container>

      <mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/home/test/{{row.id}}"
               routerLinkActive="elem-active" [routerLinkActiveOptions]="{exact:true}"></mat-row>
    </mat-table>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container-2">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
