.example-container {
  display: inline-flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
  min-width: 600px;
}

.strong-text {
  display: inline-block;
  font-weight: 600;
}

label {
  font-size: 20px !important;
  color: black !important;
}

h3 {
  margin-bottom: 20px !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #2bbbad !important;
}
