<div style="text-align:center;">
  <div style="text-align:left; display:inline-block;">


    <form #form1="ngForm" class="example-container">
      <h3>Create Test</h3>
      <mat-divider style="margin-bottom: 10px;"></mat-divider>
      <label>Your site:</label>
      <input
        type="url"
        class="validate"
        matInput
        placeholder="URL"
        [(ngModel)]="test.url"
        name="formTestUrl"
        [formControl]="urlControl"
        [errorStateMatcher]="matcher">

      <mat-error *ngIf="urlControl.hasError('pattern') && !urlControl.hasError('required')" style="margin-top:-20px;">
        Please enter a valid url,
        <div class="strong-text">ex. http://example.org/</div>
      </mat-error>
      <mat-error *ngIf="urlControl.hasError('required')" style="margin-top:-20px;">
        URL is
        <div class="strong-text">required</div>
      </mat-error>

      <label>Sessions:</label>
      <mat-slider
        name="formTestSessions"
        style="margin-top: 10px;"
        [max]="200"
        [min]="1"
        [step]="1"
        [(ngModel)]="test.sessions"
        [thumb-label]="true">
      </mat-slider>

      <label>Time:</label>
      <mat-slider
        name="formTestTime"
        style="margin-top: 10px;"
        [max]="30"
        [min]="1"
        [step]="1"
        [(ngModel)]="test.duration"
        [thumb-label]="true">
      </mat-slider>

      <label>Test type:</label>


      <mat-radio-group style="text-align: center; margin-top:5px; margin-bottom:5px; color:black;"
                       [(ngModel)]="test.stress_mode" name="formTestType">
        <mat-radio-button style="display: inline-block;margin-right:40px; margin-left:30px;" *ngFor="let type of types"
                          [value]="types.indexOf(type) === 1">
          <div style="font-size: 15px; color: black;">
            {{type}}
          </div>
        </mat-radio-button>
      </mat-radio-group>

      <label>Start test:</label>

      <mat-radio-group style="text-align: center; margin-top:5px; margin-bottom:5px; color:black;"
                       [(ngModel)]="test.start" name="formTestStart">
        <mat-radio-button style="display: inline-block;margin-right:40px; margin-left:30px;"
                          *ngFor="let start of starter"
                          [value]="starter.indexOf(start) === 0">
          <div style="font-size: 15px; color: black;">
            {{ start }}
          </div>
        </mat-radio-button>
      </mat-radio-group>

      <div>
        <button type="submit" [disabled]="urlControl.hasError('pattern') || urlControl.hasError('required')"
                (click)="createTest(test)" class="btn">
          START TEST
        </button>
      </div>
    </form>
  </div>
</div>
