/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic');

html{
font-family: "Open Sans", sans-serif !important;
}

button.btn-submit{
    background-color: #38547b;
    color: #fff;
    width: 100%;
}
button.btn-submit:focus,button.btn-submit:hover{
    background-color: #38547b;
}

input.ng-invalid.ng-dirty{
    border-bottom-color : red !important;
    box-shadow: 0 1px 0 0 red !important;
}
/*for error div i*/
div.error-message i{
    vertical-align: middle !important;
}
.mat-table{
  font-family: 'Open Sans', sans-serif !important;
}
.mat-radio-button{
  font-family: 'Open Sans', sans-serif !important;
}
.mat-button{
  font-family: 'Open Sans', sans-serif !important;
}
.mat-raised-button{
  font-family: 'Open Sans', sans-serif !important;
}
/*for tab control*/
.tabs{
    height: 65px;
}
.tabs .tab{
    text-transform : none !important;
    line-height: 65px;
    height: 65px;
}
.tabs .tab a{
    font-size: 25px;
    color: grey !important;
}

.tabs .tab a.active{
    background-color: #fff !important;
}

/* fixes */
.cdk-focused{
  background-color: transparent !important;
}

.mat-slider-thumb-label, .mat-slider-track-fill, .mat-slider-thumb{
  background-color:#2bbbad !important
}
.mat-slider-thumb-label-text{
  color: white !important;
}

.mat-radio-outer-circle {
  border-color: #2bbbad !important;
}

.mat-radio-inner-circle {
  background-color: #2bbbad !important;
}

.mat-ripple-element {
  background: rgba(43, 187, 173, 0.26) !important;
}

