<div class="container mt">
  <div class="row">
    <div class="col s4 offset-s4">
      <div class="card">
        <div class="card-content white" style="text-align:center;">
          <h1>404</h1>
          requested page not found
        </div>
      </div>
    </div>
  </div>
</div>

