<form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="onSubmitRegistration(userRegistrationForm)">
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">email</i>
      <input class="validate" type="text" name="email" #email="ngModel" [(ngModel)]="user.email" [pattern]="emailPattern" required>
      <label data-error="Invalid email!">Email</label>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div style="text-align:center;">
        <recaptcha
        style="margin-top:0px; display:inline-block;"
        name="recaptcha"
        [(ngModel)]="myRecaptcha"
        (scriptLoad)="onScriptLoad()"
        (scriptError)="onScriptError()"
      ></recaptcha>
    </div>
      </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit">Submit</button>
    </div>
  </div>
</form>


