<div style="text-align:center;margin-top: 2%;">
  <div style="display:inline-block;">
    <mat-chip-list class="mat-chip-list-stacked">
      <mat-chip style="background-color: #e9e9e9; color: black; min-width: 500px;">
        Please click<i class="material-icons"> add_circle_outline </i> to start load testing
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
