.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
  min-width: 600px;
}

.validate {
  margin-top: 5px !important;
}

label {
  font-size: 20px !important;
  color: black !important;
}

h3 {
  margin-bottom: 20px !important;
}
