<div *ngIf="loading" style="text-align: center; margin-top: 10%;">
  <img src="assets/loading1.gif">
</div>
<div *ngIf="!loading" style="text-align:center;">
  <div style="text-align:left; display:inline-block;">
    <h3>Profile</h3>
    <mat-divider style="margin-bottom: 10px;"></mat-divider>

    <div class="example-container">
      <label for="email">Email:</label>
      <input id="email" disabled type="email" matInput style="margin-top:-10px;" [value]=email>
      <label for="registered">Registration date:</label>
      <input id="registered" disabled type="text" matInput style="margin-top:-10px;" [value]=registered>

      <form #profileForm="ngForm" (ngSubmit)="onSave(curPass.value, newPass1.value, newPass2.value)"
            style="margin-top:-10px;">
        <div class="input-field">
          <input class="validate" type="password" name="curPass" #curPass ngModel required>
          <label data-error="Password required">Current password:</label>
        </div>
        <div class="input-field">
          <input class="validate" type="password" name="newPass1" #newPass1 ngModel required>
          <label data-error="New password required">Change password:</label>
        </div>
        <div class="input-field">
          <input class="validate" type="password" name="newPass2" #newPass2 ngModel required>
          <label data-error="Repeat your password">Repeat password:</label>
        </div>

        <div>
          <button [disabled]="!profileForm.valid" class="btn" type="submit">Change password</button>
        </div>
      </form>
    </div>
  </div>
</div>
