<div *ngIf="isLoginError" class="red-text center error-message">
    <i class="material-icons">error</i> Incorrect email or password
</div>

<form #loginForm="ngForm" class="col s12 white" (ngSubmit)="onSubmitLogin(Email.value,Password.value)">
   <div class="row">
     <div class="input-field col s12">
       <i class="material-icons prefix">email</i>
       <input class="validate" type="text" #Email ngModel name="Email" [pattern]="emailPattern" required>
       <label data-error="Invalid email!">Email</label>
     </div>
   </div>
   <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">vpn_key</i>
        <input class="validate" type="password" #Password ngModel name="Password" required>
        <label data-error="">Password</label>
      </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <button [disabled]="!loginForm.valid" class="btn-large btn-submit" type="submit">Login</button>
        </div>
      </div>
</form>
